#treeStats{
  margin-left: 2em;
  
}
.healthNum , .healthCon{
  font-weight: 600;
}

#tree{
  max-width: 50%;
  max-height: 50%;
}

button{
  margin: 2em;
}
header{
  text-align-last: center;
  padding-bottom: 10em;
}

body{
  background:lightgreen;
}
span{
  padding: 1em;
}
